<div class="stepper container">
    <div class="stepper__title">
        <span>{{title}}</span>
    </div>
    <div class="stepper__container">
        {{> @partial-block }}
    </div>
    {{#if button}}
        <div class="stepper__button">
            {{>button/button 
                label = labelButton
                inverseColor = true
            }}
        </div>
    {{/if}}
</div>