.activity-list {
    @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
        margin: auto -15px;
        box-sizing: border-box;
    }

    & > * {
        @include media-breakpoint-up(md) {
            flex: 1 0 30%;
        }
    }

    & div:nth-child(3) {
        @include media-breakpoint-up(md) {
            margin-right: 0;
        }
    }

    & div:nth-child(4) {
        @include media-breakpoint-up(md) {
            flex: 2 0 64%;
        }
    }

    & div:nth-child(5) {
        @include media-breakpoint-up(md) {
            margin-right: 0;
        }
    }

    & div:nth-child(6) {
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }

    & div:last-child {
        @include media-breakpoint-up(md) {
            flex: 2 0 64%;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}