.navbar {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
        margin-top: 40px;
        justify-content: space-between;
    }

    &__brand {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            font-size: 20px;
            font-weight: bold;
            color: $white;
        }
    }
}