.partner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
        width: 50%;
        max-width: 236px;
        margin-right: 20px;
        margin-left: 0;
    }

    & > * {
        width: 100%;
        text-align: center;
    }

    &__media {
        margin-bottom: 17px;
    }

    &__image {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translate(-100%, -100%);
            width: 32px;
            height: 32px;
            background-color: $red;
            border-radius: 50%;
            border: solid 3px $white;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__subtitle {
        font-size: 12px;
        margin-bottom: 16px!important;
        opacity: 0.8;

        @include media-breakpoint-up(md) {
            margin-bottom: 54px!important;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 36px!important;
        }
    }
}