<a href="{{link}}"
    class="button{{#if inverseColor}} button--inverse-color{{/if}}{{#if withoutBck}} button--no-bck{{/if}}{{#if whiteBorder}} button--white-border{{/if}}{{#if medium}} button--medium{{/if}}{{#if small}} button--small{{/if}}">
  {{label}}
</a>