<div class="activity-list">
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Sports and Activis"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Wellness and Health"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Extreme Sports and Expeditions"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Games"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Culture and Education"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Enjomet and Relaxation"
    }}
    {{>card/card-activity
        urlImage = "images/step-2-image.png"
        title = "Travelling"
    }}
</div>