<div class="card bck-image" style="background-image: url('{{urlImage}}');">
    <div class="card__content container">
        <div class="card__button">
            {{>button/button 
                label = step
                small = true
            }}
        </div>
        <div class="card__title">
            {{title}}
        </div>
        <div class="card__subtitle">
            {{subtitle}}
        </div>
    </div>
</div>