<div class="step-list">
    {{>card/card-step
        urlImage = "images/step-1-image.png"
        step = "step 1"
        title = "Sed leo enim, condimentum"
        subtitle = "Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis."
    }}    
    {{>card/card-step
        urlImage = "images/step-2-image.png"
        step = "step 2"
        title = "Morbi velit risus"
        subtitle = "Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est."
    }}    
    {{>card/card-step
        urlImage = "images/step-3-image.png"
        step = "step 3"
        title = "Sed leo enim, condimentum"
        subtitle = "Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis."
    }}   
</div>