<div class="partner-list">
    {{>partner-box/partner-box
        urlImage = "images/avatar.png"
        title = "Bradley Hunter"
        subtitle = "Based in Chicago. I love playing tennis and loud music."
        circleRed = true
    }}
    {{>partner-box/partner-box
        urlImage = "images/avatar.png"
        title = "Diana Wells"
        subtitle = "Living in Athens, Greece. I love black and white classics, chillout music and green tea."
        circleOrange = true
    }}
    {{>partner-box/partner-box
        urlImage = "images/avatar.png"
        title = "Marie Bennett"
        subtitle = "Currently living in Colorado. Lover of art, languages and travelling."
        circleGreen = true
    }}
    {{>partner-box/partner-box
        urlImage = "images/avatar.png"
        title = "Christopher Pierce"
        subtitle = "Star Wars fanatic. I have a persistent enthusiasm to create new things."     
        circleBlue = true   
    }}
</div>