<div class="partner-box container">
    <div class="partner-box__media">
        <div class="partner-box__image bck-image" style="background-image: url('{{urlImage}}');"></div>
    </div>
    <div class="partner-box__title">
        {{title}}
    </div>
    <div class="partner-box__subtitle">
        {{subtitle}}
    </div>
</div>