$black: #000000;
$red: #ff4e50;
$yellow: #f9d423;
$white: #ffffff;
$gray: #cccccc;
$gray-clear: #d8d8d8;
$gray-medium: rgba(0, 0, 0, 0.6);
$gray-dark: #444444;
$cyan: #19d4ca;
$orange: #ffa710;
$blue: #667df3;
