{{>header/navbar}}

<div class="header bck-image" style="background-image: url('{{urlImage}}');">
    <div class="container">
        <div class="header__content">
            <div class="header__brand">
                <span>DREAMSHARE</span>
            </div>
            <div class="header__title">
                <span>SHARE YOUR HOLIDAY DREAM</span>
            </div>
            <div class="header__subtitle">
                <span>And find the perfect partner to fullfill it</span>
            </div>
            <div class="header__button">
                {{>button/button
                    label = "Find your holiday partner"
                }}
            </div>
        </div>
    </div>
</div>