<div class="container" style="position: relative;">
    <div class="navbar">
        <div class="navbar__brand">
            <span>DREAMSHARE</span>
        </div>
        <div class="navbar__buttons">
            {{>button/button
                label = "Log in"
                medium = true
                withoutBck = true
            }}
            {{>button/button
                label = "Sign up"
                medium = true
                whiteBorder = true
                withoutBck = true
            }}
        </div>
    </div>
</div>