<div class="create container">
    <div class="create__title">
        Create your holiday activity
    </div>
    <div class="create__subtitle">
        Hi! What are your holiday interests?
    </div>
    <div class="create__form">
        <div class="create__input">
            <input type="text" placeholder="Enter your insterests">
        </div>
        <div class="create__button">
            {{>button/button
                label = "Search partners"
            }}
        </div>
    </div>
</div>