<div class="footer">
    <div class="footer__content">
        <div class="footer__brand">
            DREAMSHARE
        </div>
        <div class="footer__company">
            <div class="footer__company__title">
                Company
            </div>
            <ul class="footer__company__list">
                <li class="footer__company__item">
                    About
                </li>
                <li class="footer__company__item">
                    Contact
                </li>
                <li class="footer__company__item">
                    Press
                </li>
                <li class="footer__company__item">
                    Blog
                </li>
                <li class="footer__company__item">
                    Terms and Privacy
                </li>
                <li class="footer__company__item">
                    Help
                </li>
            </ul>
        </div>
        <div class="footer__partner">
            <div class="footer__partner__title">
                Partners
            </div>
        </div>
        <div class="footer__design">
            <div class="footer__design__title">
                DESIGNED BY
            </div>
        </div>
    </div>
</div>