<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Holiday</title>
</head>
<body>

    {{!-- {{>header/header 
        urlImage = "images/background.png"    
    }}

    {{#>stepper/stepper
        title = "How Dreamshare"
    }}
        {{>card/step-list}}
    {{/stepper/stepper}}

    {{#>stepper/stepper
        title = "Meet a partner for your best holiday"
        button = true
        labelButton = "See other partners" 
    }}
        {{>partner-box/partner-list }}
    {{/stepper/stepper}}

    {{#>stepper/stepper
        title = "Discover holiday activity ideas"
    }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Sports and Activis"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Wellness and Health"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Extreme Sports and Expeditions"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Games"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Culture and Education"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Enjomet and Relaxation"
        }}
        {{>card/card-activity
            urlImage = "images/step-2-image.png"
            title = "Travelling"
        }}
    {{/stepper/stepper}} --}}

    <div class="container">
        {{>create/create}}
    </div>

    {{>footer/footer}}

</body>
</html>